.appBar {
    background-color: white;
}

.searchBox {
    padding-right: 2rem;
}

.dateValue {
    z-index: 2;
    color: black;
    font-size: 10px;
    position: absolute;
    top: 24px;
}

.dateIcon {
    z-index: 1;
    position: absolute;
    top: 12px;
}

.calendarBox {
    padding: 0 14px;
    display: flex;
    justify-content: center;
}

.walletBalance {
    font-size: 14px;
    padding-left: 4px;
    color: #000000e1;
    font-weight: 600;
}

.walletIcon {
    pointer-events: none;
}

.nameGrid {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

.walletName {
    font-weight: 400;
    font-size: 14px;
    padding-left: 0;
    color: #000000a1;
    /* display: inline; */
}

.detailGrid {
    padding: 0 0.5rem;
    border-radius: 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 6rem;
}

.listGrid {
    padding: 0 0.5rem;
    border-radius: 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.arrowIcon {
    padding: 0;
    color: #000000ba;
}

.walletDropdown{
    display: flex;
    padding: 8px 1rem;
}

.walletDropdown:hover {
    background-color: #d2eed8;
}

.popover {
    width: 300px;
}

.header {
    margin: 10px 1rem;
    font-size: 12px;
}

.selectHeader {
    display: flex;
    justify-content: center;
}
