.card {
    width: 40%;
    margin: auto;
}

.grid {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 12rem auto;
}

.header {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.field {
    background-color: #f5f5f5;
    border: 2px solid #f5f5f5;
    border-radius: 10px;
    display: flex;
    width: 90%;
    padding: 12px;
    margin: 1.5rem 0;
    margin-top: 1rem;
    font-size: 1rem;
}

.socialHeader {
    font-size: 14px;
    padding: 8px 0;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: flex-start;
}

.fieldHeader {
    font-size: 14px;
    padding: 8px;
    display: flex;
    justify-content: flex-start;
}

.password {
    display: flex;
    justify-content: flex-end;
    color: #00bc2a;
    padding-bottom: 1rem;
}

.loginButton {
    background: #00bc2a;
    padding: 6px;
    border: 1px #00bc2a solid;
    color: white;
    border-radius: 12px;
    display: flex;
    width: 100%;
    margin-bottom: 12px;
    font-weight: bold;
}

.loginButton:hover {
    background-color: #0c710f;
}

.itemGrid {
    padding: 0 1rem;
}

.register {
    color: #00bc2a;
    text-decoration: underline;
}

.register:hover,
.password:hover{
    cursor: pointer;
    color: #0c710f;
}