.card {
    margin: auto;
}

.cardContent {
    padding: 1.5rem;
}

.walletHeader {
    display: flex;
    justify-content: flex-start;
    font-size: 1.3rem;
    font-weight: 550;
    font-family: sans-serif;
}

.divider {
    margin: 1rem 0;
}

.label {
    display: block;
    font-size: 13px;
    color: #0000008a;
    padding: 5px 1rem;
    display: flex;
    justify-content: flex-start;
}

.field {
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
}

.currencyField {
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
    font-size: 14px;
}

.walletBox {
    border: 1px #00000025 solid;
    border-radius: 8px;
    width: 50%;
}

.formGroup {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.formHelper {
    margin-left: 2rem;
}

.containerGrid {
    margin: 1.5rem 0;
    display: flex;
    justify-content: space-between;
}

.buttonGrid {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.button {
    background: #00bc2a;
    padding: 6px;
    border: 1px #00bc2a solid;
    color: white;
    border-radius: 8px;
    display: flex;
    width: 20%;
    margin-bottom: 12px;
    font-weight: bold;
}

.cancelButton {
    background: #0000000f;
    color: #00bc2a;
    margin: 0 1rem;
    padding: 6px;
    border-radius: 8px;
    display: flex;
    width: 20%;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 13px;
}

.cancelButton:hover {
    background-color: #ddeede;
}

.button:hover {
    background-color: #1bcd21;
}

.buttonDisabled {
    background: #d9dbda;
    border: 1px #d9dbda solid;
    color: #a8aaa9
}

.currencyHeader {
    display: inline;
    margin-left: 1.5rem;
    font-weight: 400;
    font-size: 1.3rem;
}

.searchBox {
    display: inline;
    background-color: #e7e7e76c;
    border-radius: 1.5rem;
    width: 20%;
    margin: auto;
    padding: 12px;
    margin-left: 5rem;
}

.currencyOuterBox {
    flex-wrap: wrap;
    display: flex;
    padding-top: 8px;
}

.currencyBox {
    width: 50%;
    padding-bottom: 8px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.currencyBox:hover {
    background: #d2eed8;
}

.currencyName {
    font-size: 14px;
}

.currencyCode {
    font-size: 12px;
}

.currencyNameGrid {
    margin-left: 0.5rem
}

.flag {
    margin-top: 4px;
    margin-right: 1.3rem;
}

.iconGrid {
    border: 1px #00000025 solid;
    border-radius: 6px;
    margin-right: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.iconOuterBox {
    flex-wrap: wrap;
    display: flex;
    padding: 0.5rem;
}

.avatar {
    margin: 0.5rem;
}

.dialogTitle {
  padding-bottom: 0;
}

.pointer:hover {
    pointer-events: none;
}