.mainGrid {
    background-color: #dfdddd;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    padding: 2rem;
}

.name {
    background-color: #f3eded;
    display: flex;
    justify-content: flex-start;
    padding: 8px;
    border-radius: 2px;
    font-size: 14px;
    color: #818181
}

.divider {
    border-bottom: 1px #e2e1e1 solid;
}

.walletBox {
    margin-top: 1.5rem;
}

.detailGrid {
    padding: 0.5rem;
    background-color: white;
    border-radius: 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.detailsGrid {
    padding: 0.5rem;
    background-color: white;
    border-radius: 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.detailGrid:hover {
    background-color: #edf9f0;
    cursor: pointer;
}

.nameGrid {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

.walletName {
    font-weight: 600;
    font-size: 14px;
    padding-left: 0;
}

.walletBalance {
    font-size: 12px;
    padding-left: 4px;
    color: #0000008a;
}

.walletIcon {
    pointer-events: none;
}

.detailHeader {
    display: inline;
    margin-left: 1.5rem;
    font-weight: 400;
    font-size: 1.3rem;
}

.headerGrid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconGrid {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.buttonGrid {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.delete {
    color: #f65454;
    font-weight: 600;
    font-size: 14px;
    margin: 0 2.5rem;
}

.detailName {
    font-weight: 500;
    font-size: 1.2rem;
}

.detailBalance {
    font-size: 14px;
}

.detailIcon {
    pointer-events: none;
}

.avatar {
    background-color: #bc1ec1;
}

.balance{
    color:#2db84c;
    font-weight: 600;
    font-size: 14px;
    margin-right: 1.5rem;
}

.balanceCard{
    padding-top: 8px;
    padding-bottom: 8px !important;
}

.balanceCard:hover {
    background-color: #e6f8ea;
}


.checkBoxCard{
    padding-top: 8px;
    padding-bottom: 8px !important;
    padding-left: 2.5rem;
}

.formGroup {
    margin-top: 1rem;
}

.formHelper {
    margin-left: 2rem;
}

.card {
    margin-top: 1.5rem;
}

.cancelButton {
    background: #f5f5f5;
    color: #00bc2a;
    border: 1px #f5f5f5 solid;
    padding: 6px;
    border-radius: 8px;
    display: flex;
    width: 25%;
    margin-bottom: 12px;
    font-weight: bold;
}

.cancelButton:hover {
    background-color: #d2eed8;
}

.field {
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
    color: #0000008a;
}

.fieldBox {
    border: 1px #00000025 solid;
    border-radius: 6px;
    margin: 1rem 5px;
}

.button {
    background: #00bc2a;
    padding: 6px;
    border: 1px #00bc2a solid;
    color: white;
    border-radius: 8px;
    display: flex;
    width: 25%;
    margin-bottom: 12px;
    font-weight: bold;
}

.button:hover {
    background-color: #1bcd21;
}

.deleteButton {
    background: #f25a5a;
    padding: 6px;
    border: 1px #fb3c1ed1 solid;
    color: white;
    border-radius: 8px;
    display: flex;
    width: 25%;
    margin-bottom: 12px;
    font-weight: bold;
}

.deleteButton:hover {
    background-color: #e6331f;
}

.buttonDisabled {
    background: #d9dbda;
    border: 1px #d9dbda solid;
    color: #a8aaa9
}


.label {
    display: block;
    font-size: 13px;
    color: #0000008a;
    padding: 5px 1rem;
    display: flex;
    justify-content: flex-start;
}
